body {
    width: 82%;
    margin: 0 auto;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #1F2937;
    height: 90px;
}
.header .header-sub {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex: initial;
    flex-wrap: wrap;
    width: 75%;
    height: 80px;
    align-items: center;
    padding: 8px 0;
}
.header-sub .logo {
    justify-self: flex-start;
}
/*the following selecter works on the navigation links at the top bar*/
.nav {
    color: #e5e7eb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    justify-self: flex-end;
}
.nav a {
    padding-right: 15px;
}
.one { /*styles the main container of the section*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #1F2937;
    height: 450px;
}
/*setup the sub-container, holding the two flex boxes of text and image*/
.one .one-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75%;
    flex: initial;
}
.one-main div {
    width: 50%;
    height: 300px;
}
.one-main .one-sub {
    padding-left: 10px;
    padding-bottom: 45px;
    padding-right: 20px;
    text-align: left;
}
.one-sub .h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.one-sub p {
    font-size: 18px;
    color: #e5e7eb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 9px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    border: none;
    border-radius: 7px;
}